.input {
  padding: 8px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  &-block {
    max-width: fit-content;
    margin: 0 auto 50px auto;
  }
}
.submit-btn {
  padding: 8px;
  &:focus {
    outline: none;
  }
}